body {
    background-color: rgb(255, 240, 242);
 }
 p {
    background-color: rgb(245, 199, 208);
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
 }

 h1{
 text-align: center;
 background-color: rgb(255, 255, 255);
 font-size: 100px;

 }
 h4 {
   color: rgb(160, 17, 88);
   background-color: rgb(248, 132, 151);
   font-family:Georgia, 'Times New Roman', Times, serif;
 }
 img{
  width:100mm;
 }
 li{
 background-color:rgb(255, 255, 255);

 }

