body {
    background-color: rgb(255, 240, 242);
 }
 p {
    background-color: rgb(245, 199, 208);
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
 }

 h1{
 text-align: center;
 color:brown;
 background-color: rgb(255, 255, 255);
 font-size: 50px;

 }
 h3{
 text-align: center;
 background-color: rgb(172, 131, 131);
 }
 h4 {
   color: rgb(160, 17, 88);
   background-color: rgb(248, 132, 151);
   font-family:Georgia, 'Times New Roman', Times, serif;
   border-left: 6px solid red;
 }
 img{
  width:80mm;
  border: 2px solid red;
  border-radius:5px;
  
 }
 li{
 background-color:rgb(255, 255, 255);

 }

 #title{
 background-color: chocolate;
 }

 #content{
 background-color: rgb(255, 223, 211);
 width:80%;
 float:left;
}
#menu{
 background-color: rgb(238, 171, 171);
 width:10%;
 height:1000px;
 float:left

}
#ads{
 background-color: rgb(224, 169, 151);
 width:10%;
 height:1000px;
 float: right;
}
